<% include partials/header %>
<h1>CAMPGROUND DESCRIPTION PAGE</h1>

<p>
  <%= campground.name %>
</p>

<img src="<%= campground.image %>">

<p>
  <%= campground.description %>
</p>
<% include partials/footer %>