.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

#map {
  width: 57.5vw;
  height: 34.72222222222222vh;
}

#comments {
  padding-bottom: 2vh;
}

.lead {
  padding-top: 2vh;
  text-align: center;
}