.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

#map {
  width: 100%;
  height: 34.72222222222222vh;
}

#comments {
  padding-bottom: 2vh;
}

.lead {
  padding-top: 2vh;
  text-align: center;
}

.form-group {
  font-size: 1.5em;
}

.back-campgrounds {
  font-size: 2em;
  text-align: center;
}

.card {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

@media (max-width: 1200px) {
    .card {
        object-fit: cover;
        height: 270px;
        width: 100%;
    }
}

@media (max-width: 992px) {
  .card {
    object-fit: cover;
    height: 350px;
    width: 100%;
  }
}



  

